<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Star Wars Heroes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="vendor/bootstrap.min.css">
  <script src="vendor/angular.js"></script>
  <script src="src/app.js"></script>
</head>
<body ng-app="app">
  <div ng-controller="AppController">
    <h1>{{ title }}</h1>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="hero in heroes">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            {{hero.name}}
          </div>
          <div class="col-xs-12 col-md-6">
            <div>Power: {{hero.power}} </div>
            <div>Light: {{hero.light}} </div>
            <div>Affiliations: <span ng-repeat="affiliate in hero.affiliations">{{affiliate}} </span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>